body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  font-style: normal;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* address {
  font-style: normal;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  /* width: 1158px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-decoration: none;
  text-align: center;
}
.header-logo-color {
  color: #2e2f42;
}
.header-menu {
  flex-direction: column;
  text-align: center;
  line-height: normal;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header-menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  text-decoration: none;
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

/* address */
.address {
  font-style: normal;
  margin-left: auto;
  /* font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-left: auto; */
}
.address-list {
  /* display: flex;
  gap: 40px; */
  display: block;
  padding-right: 16px;
  margin: 0;
}
.address-link:last-child {
  margin-right: 0;
}
.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* Mob - menu  */

.header-button {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.mob-menu-wrap {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.header-button-close {
  /* position: absolute; */
  display: block;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  background-color: #fff;
  margin-left: auto;
  margin-bottom: 24px;
}
.mob-menu {
}
.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #404bbf;
}
.mob-address-list {
}

.mob-address-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-address-link:hover,
.mob-address-link:focus {
  color: #4d5ae5;
}

.mob-social-list {
  display: flex;
  margin-top: 48px;
  gap: 40px;
}
.mob-sosial-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-icon-team:hover,
.mob-icon-team:focus {
  background-color: #31d0aa;
}
.mob-icon {
  fill: #f4f4fd;
}

/* Hero section */

.hero {
  background: #2e2f42;
  /* padding-top: 188px;
  padding-bottom: 188px; */
  padding: 72px 52px;
  box-sizing: content-box;
  /* background-image: url(../images/hero-img.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-mobile.jpg);
  max-width: 1440px;
  margin: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-mobile-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  /* font-size: 56px; */
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /* max-width: 496px; */
  max-width: 216px;
  margin: 0 auto;
  padding-bottom: 48px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
  cursor: pointer;
}

/* Description section */

.descr {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding: 96px 0;
}

.descr-list {
  display: flex;
  /* gap: 24px; */
  gap: 72px;
  flex-wrap: wrap;
}
.descr-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
}
.icon-descr {
  /* visibility: hidden; */

  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}
.icons {
  background-image: url(../);
}
.descr-subtitle {
  /* font-weight: 500; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.descr-text {
  color: #434455;
  font-weight: 500;
}

/* Our team section */

.team {
  background: #f4f4fd;
  /* padding: 120px 0; */
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: row;
  /* gap: 24px; */
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-img {
  margin: 0 auto;
}
.team-wrap-card {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
  color: #434455;
  text-align: center;
}
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 232px;
  height: 40px;
  margin-left: 16px;
}
.sosial-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-team:hover,
.icon-team:focus {
  background-color: #404bbf;
}
.icon {
  fill: #f4f4fd;
}

/* Our Portfolio section */
.portfolio {
  background-color: #ffffff;
  /* padding: 120px 0; */
  padding: 96px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.open-portfolio-text {
  position: relative;
  overflow: hidden;
}
.portfolio-info {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.open-portfolio-text:hover .portfolio-info {
  transform: translateY(0%);
}

.portfolio-wrap-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
}
.portfolio-text:hover {
  transform: translateY(0%);
}

/* Footer section */

.footer {
  background: #2e2f42;
  /* width: 1440px;
  height: 312px; */
  padding: 100px 0;
}
.mediateka {
  display: flex;
  align-items: baseline;
}
.logo-wrap {
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
  display: inline-block;
}
.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
.media-wrap {
  width: 208px;
  height: 80px;
  margin-top: 110px;
  margin-bottom: 122px;
  margin-left: 120px;
  margin-right: 120px;
}
.text-media {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.media-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 232px;
  height: 40px;
  gap: 16px;
}
.media-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}
.icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer:hover,
.icon-footer:focus {
  background-color: #31d0aa;
}

/* Footer form section  */

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #2e2f42;
  background-color: transparent;
  padding-left: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.footer-form-btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  min-width: 165px;

  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  margin-left: 24px;
  cursor: pointer;
  border: none;
}
.footer-text-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-input-icon {
  margin-left: 16px;
  fill: #fff;
}

/* Section modal window */
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* z-index: 999; */
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  /* fill: #ffffff; */
}
.modal-button:hover .icon-modal {
  fill: #ffffff;
}

.modal-button:focus .icon-modal {
  fill: #ffffff;
}

.icon-modal {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* Section forma */

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 360px;
  /* margin-right: 24px;
  margin-left: 24px; */
  align-items: center;
  justify-content: center;
}

.data-client {
  margin-bottom: 8px;
}

.name-forma {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  align-items: center;
  display: block;
}

.icon-input {
  position: relative;
}

.input-forma {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-forma:focus {
  border: 1px solid #4d5ae5;
}

.icon-forma {
  fill: #4d5ae5;
  padding: 3px 0px;
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-coment {
  margin-bottom: 16px;
}
.coments {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.coments:focus {
  border-color: #4d5ae5;
}

.user-privacy {
  margin-bottom: 24px;
  border-radius: 4px;
  width: 360px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.checkbox .visually-hidden {
  border-radius: 4px;
  /* overflow: hidden; */

  /* width: 360px;
height: 16px; */
}

.checkbox:checked .privacy-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privaci-accept {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  fill: transparent;
  align-items: center;
}

.link-privacy-policy {
  color: #4d5ae5;
}

.checkbox:checked + .privaci-accept span {
  color: #4d5ae5;
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.botton-modal-forma {
  border-radius: 4px;
  padding: 16px 32px;

  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  /* margin-bottom: 24px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

@media screen and (max-width: 1157px) {
  .icon-descr {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
  .address {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header-button {
    display: none;
  }
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img-tablet.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
  }

  .descr-list {
    gap: 72px 24px;
  }
  .descr-item {
    width: calc((100% - 24px) / 2);
  }
  .descr-subtitle {
    text-align: left;
  }

  .team .container {
    width: 552px;
  }
  .team-list {
    gap: 72px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .address-list {
    display: flex;
    gap: 40px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-img.jpg);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-img1-2x.jpg);
    }
  }

  .hero-title {
    text-align: center;
  }

  .descr {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .descr-list {
    gap: 24px;
  }
  .descr-item {
    width: calc((100% - 72px) / 4);
  }
  .descr-subtitle {
    font-weight: 500;
    font-size: 20px;
  }
  .descr-text {
    font-weight: 400;
  }
  /* .icon-descr {
    visibility: visible;
  } */

  .team .container {
    width: 1158px;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
